.portfolio {
  text-align: center;
  background: $light-gray;
  padding: 5em 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;

  img {
    display: block;
  }
   figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2em;
    background: rgba($accent, .3);
    color: $white;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}
.portfolio-title {
  color: $white;
  font-size:3.625rem;
  margin-bottom: auto;
}

.portfolio-link {
  color: $white;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom:3px solid $white;
  align-self:flex-start;

  &::after {
    content: url(../img/arrow-white.svg);
    display: inline-block;
    height: .8em;
    width: .8em;
    margin-left: .5em;
  }
}